<div class="card">
  <h6 mat-dialog-title>Edit Element</h6>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.weight" placeholder="Weight" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.symbol" placeholder="Symbol" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSave()">Save</button>
  </div>
</div>
